@import './scss/abstract/variables';
@import './scss/base/normalize';
@import './scss/base/soft-reset';
@import './scss/components/wrapper';
@import './scss/layout/header';
@import './scss/layout/main';
@import './scss/components/buttons';
@import './scss/layout/footer';